@charset "UTF-8";

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

button {
    border-radius:3px;
    border:1px solid #666;
    background:#f4f4f4;
}
button:hover {
    background:#fff;
    cusor:pointer;
}